#s-7b70c359-7fe6-4825-923e-e88b03f24875 > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 > #alignmentBox {
  position: relative;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Dynamic_Panel {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_1 {
  width: 1366.0px;
  height: 768.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_1 {
  box-shadow: none;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_1 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/a36c3003-8081-46cd-835c-10619d0dbcfa.png');
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_1 .verticalalign {
  vertical-align: top;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Dynamic_Panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_2 {
  width: 1128.0px;
  height: 516.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_2 {
  box-shadow: none;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: scroll;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_2 .verticalalign {
  vertical-align: top;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Dynamic_Panel_3 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_3 {
  width: 100.0%;
  height: 56.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_3 {
  box-shadow: none;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_3 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #231F20;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_3 .verticalalign {
  vertical-align: middle;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Image {
  width: 301.78723404255317px;
  height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Image {
  box-shadow: none;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Dynamic_Panel_4 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_4 {
  width: 100.0%;
  height: 259.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_4 {
  box-shadow: none;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_4 td.layout {
  padding: 16px 16px 16px 16px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_4 .verticalalign {
  vertical-align: top;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_4 .Panel_4 > *:last-child {
  margin-bottom: 0;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_4 .Panel_4 > * {
  margin-bottom: 16px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_47 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_47 {
  box-shadow: none;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_47 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_47 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_47 span {
  color: #231F20;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 13.5pt;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_47 span#rtr-s-Paragraph_47_0 {
  color: #231F20;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 13.5pt;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Dynamic_Panel_6 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_7 {
  width: 389.64453125px;
  height: 84.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_7 {
  box-shadow: none;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_7 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_7 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_7 .verticalalign {
  vertical-align: top;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_7 .Panel_7 > *:last-child {
  margin-bottom: 0;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_7 .Panel_7 > * {
  margin-bottom: 4px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_2 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: 0.7071067811865475px 0.7071067811865476px 1px rgba(0,0,0,0.12);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}

_:-ms-fullscreen, :root #s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_2 {
  box-shadow: none;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_2 span {
  color: #FEE474;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 900;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FEE474;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 900;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_3 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}

_:-ms-fullscreen, :root #s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_3 {
  box-shadow: none;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: center;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_3 span {
  color: #231F20;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #231F20;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_48 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_48 {
  box-shadow: none;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_48 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_48 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_48 span {
  color: #231F20;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 13.5pt;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Paragraph_48 span#rtr-s-Paragraph_48_0 {
  color: #231F20;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 13.5pt;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-primary_btn_1 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-enabled_primary_btn1 {
  width: 200.0px;
  height: 48.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-enabled_primary_btn1 {
  box-shadow: none;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-enabled_primary_btn1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-enabled_primary_btn1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-enabled_primary_btn1 .verticalalign {
  vertical-align: top;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_background_1 {
  position: absolute;
  width: 100.0%;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato-Regular',Arial;
}

_:-ms-fullscreen, :root #s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_background_1 {
  box-shadow: none;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_background_1 > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_background_1 > .backgroundLayer > .colorLayer {
  background-color: #4C8DCB;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_background_1 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #4C8DCB;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #4C8DCB;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #4C8DCB;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #4C8DCB;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_background_1 > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_background_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_background_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_background_1 span {
  color: #424242;
  text-align: center;
  text-decoration: none;
  font-family: 'Lato-Regular',Arial;
  font-size: 10.5pt;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_background_1 span#rtr-s-btn_background_1_0 {
  color: #424242;
  text-decoration: none;
  font-family: 'Lato-Regular',Arial;
  font-size: 10.5pt;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #shapewrapper-s-btn_wave_effect_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #shapewrapper-s-btn_wave_effect_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Lato-Regular',Arial;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #shapewrapper-s-btn_wave_effect_1 {
  position: absolute;
  filter: none;
  opacity: 0.2;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_wave_effect_1 {
  width: 1.0px;
  height: 1.0px;
  min-height: 1.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_wave_effect_1 {
  box-shadow: none;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #shapewrapper-s-btn_wave_effect_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #shapewrapper-s-btn_wave_effect_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #shapewrapper-s-btn_wave_effect_1 span {
  color: #424242;
  text-align: center;
  text-decoration: none;
  font-family: 'Lato-Regular',Arial;
  font-size: 10.5pt;
  line-height: 20px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #shapewrapper-s-btn_wave_effect_1 span#rtr-s-btn_wave_effect_1_0 {
  color: #424242;
  text-decoration: none;
  font-family: 'Lato-Regular',Arial;
  font-size: 10.5pt;
  line-height: 20px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_content_panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_content_1 {
  width: 100.0%;
  height: 48.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_content_1 {
  box-shadow: none;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_content_1 td.layout {
  padding: 0px 8px 0px 8px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_content_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_content_1 .verticalalign {
  vertical-align: middle;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_content_1 .btn_content_1 > *:first-child {
  margin-left: 0px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_content_1 .btn_content_1 > *:last-child {
  margin-right: 0px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_content_1 .btn_content_1 > * {
  margin-left: 8.0px;
  margin-right: 8.0px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_content_1 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Image_1 {
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Image_1 {
  box-shadow: none;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_title_1 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_title_1 {
  box-shadow: none;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_title_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_title_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_title_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_title_1 span#rtr-s-btn_title_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-btn_hotspot_1 {
  position: absolute;
  width: 100.0%;
  height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Dynamic_Panel_5 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_5 {
  width: 100.0%;
  height: 200.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_5 {
  box-shadow: none;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_5 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_5 .verticalalign {
  vertical-align: top;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Dynamic_Panel_7 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_8 {
  width: 100.0%;
  height: 200.0%;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_8 {
  box-shadow: none;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_8 td.layout {
  padding: 100px 0px 0px 0px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_8 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_8 .verticalalign {
  vertical-align: top;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Dynamic_Panel_10 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_10 {
  width: 100.0%;
  height: 100.0%;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_10 {
  box-shadow: none;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_10 > .backgroundLayer > .colorLayer {
  background-color: #FEE474;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_10 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_10 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_10 .verticalalign {
  vertical-align: top;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Dynamic_Panel_9 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_11 {
  width: 621.0px;
  height: 274.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_11 {
  box-shadow: none;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_11 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_11 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_11 .verticalalign {
  vertical-align: top;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Image_7 {
  position: absolute;
  width: 621.0px;
  height: 274.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Image_7 {
  box-shadow: none;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Dynamic_Panel_8 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_6 {
  width: 100.0%;
  height: 56.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_6 {
  box-shadow: none;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_6 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_6 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 #s-Panel_6 .verticalalign {
  vertical-align: top;
}

.devMobile #jim-container .ui-page {
  overflow: hidden;
}

.non_jim_mobile #simulation {
  overflow: hidden;
}

.web #simulation {
  overflow: hidden;
}

#s-7b70c359-7fe6-4825-923e-e88b03f24875 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
